#infi-list {
 
  overflow:auto;

  margin: 30px;
  padding: 20px;
  border: 10px solid black;
}
main{
	overflow:auto;
	width:100%;
	height:100vh;
}
li {
  padding: 10px;
  list-style-type: none;
}
li:hover {
  background: #ccc;
}
